.submission-form {
  background-color: #f4f4f9;
  height: 100%;
  padding-bottom: 30px;
}

.section,
.form-footer {
  margin: auto;
  width: 50%;
}

.submission-form-top {
  background-color: white;
  border-top: 8px solid rgb(103, 58, 183);
  border-radius: 8px;
  text-transform: capitalize;
  display: flex;
}

.submission-form-top-name {
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  width: 100%;
  color: black;
  text-align: center;
}

.submission-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.add-submission {
  background-color: white;

  border-radius: 8px;
  padding: 25px 22px;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  /* padding-bottom:10px; */
  padding-top: 0px;
  width: 93%;
  margin-left: 10px;
}

.add-submission-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.questions-box {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
}
.add-border {
  border-left: 6px solid #4285f4;
}

.answer-text {
  box-sizing: border-box;
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
  font-size: 14px;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #f4f4f9;
  color: black;
  height: 35px;
}

.answer-text:focus {
  border-bottom: 1px solid rgb(103, 58, 183) !important;
  background-color: #f4f4f9;
}

.options-label {
  font-family: Roboto, Arial, sans-serif !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  letter-spacing: 0.2px !important;
  line-height: 20px !important;
  color: #202124 !important;
  margin-left: 10px !important;
}
